<section>
    <app-base-text-glow topText="Choose your" centerText="Photographic Style."
        bottomText="Change it up. Change it back." [glowPosition]="'center'"></app-base-text-glow>
    <app-base-slider sliderType="filter" image="images/photographic-style.jpg"></app-base-slider>
    <p>Our latest generation of Photographic Styles gives you greater creative flexibility than ever before, so you can
       <strong> make every photo even more you.</strong> And thanks to advances in our image pipeline, you can now reverse any style,
        anytime.

    </p>
    <app-photographic-features></app-photographic-features>
</section>