<swiper-container #swiperRef slides-per-view="auto" centered-slides="true" space-between="20"
    class="rounded-xl m-auto" allow-touch-move="false" (wheel)="onScrollFilter($event)">


    @if (sliderType()=="filter") {
    @for (f of filters; track $index) { <swiper-slide class="border-x-8  border-black {{f}} {{isEnd?'rounded-xl':''}}">
    </swiper-slide>}
    }@else {
    @for (slide of slides(); track $index) {
    <swiper-slide>
        @if (slide.isVideo) {
        <video class="rounded-2xl" [muted]="true" [autoplay]="$index==0" src="{{slide.src}}"></video>
        }
        @else {
        <img class="rounded-2xl" src="{{slide.src}}" alt="">
        }
    </swiper-slide>
    }
    }
</swiper-container>