<section>
  <app-base-text-glow topText="Strength. Beauty." centerText="Titanium." glowPosition="center"></app-base-text-glow>
  <video [muted]="true" [autoplay]="true" src="/videos/glow.mp4"></video>
  <div class="grid grid-cols-12  p-container">
    <p class="col-span-2"></p>
    <p class="col-span-3">iPhone 16 Pro features a Grade 5 titanium design with a new, refined microblasted finish.
      Titanium has one of the
      highest strength-to-weight ratios of any metal, making these models <strong>incredibly strong and impressively
        light.</strong>
      iPhone 16 Pro comes in four stunning colors — including new Desert Titanium.
    </p>
    <p class="col-span-2"></p>
    <p class=" col-span-3">
      Internal design improvements — including a 100 percent recycled aluminum thermal substructure and back glass
      optimizations that further dissipate heat — enable up to 20 percent better<strong> sustained performance</strong>
      than iPhone 15
      Pro. So you can do all the things you love — like high-intensity gaming — for longer.


    </p>
    <p class="col-span-2"></p>

  </div>
  <app-titanium-slider></app-titanium-slider>
  <div class="grid grid-cols-12  p-container">
    <p class="col-span-2"></p>
    <p class="col-span-3">New display technology allows us to route display data under active pixels with no distortion,
      resulting in thinner borders for larger 6.3-inch and 6.9-inch <strong>Super Retina XDR displays</strong> that feel
      great in the
      hand.
    </p>
    <p class="col-span-2"></p>
    <p class=" col-span-3">
      iPhone 16 Pro is splash, water, and dust resistant.3 It's also remarkbly durable, <strong> our latest-generation
        Ceramic Shield front.
      </strong>

    </p>
    <p class="col-span-2"></p>

  </div>

</section>