swiper-container {
    width: 100%;
    height: 100vh;
    transition-duration: 1s;
}

swiper-slide img {
    height: auto;
    margin-inline: auto;
}

.zoom {
    position: relative;
    margin: auto;
    width: 50%;
    border-radius: 80px;
}

.zoom video,
.zoom img {
    border-radius: inherit;

}

.zoom img {
    top: -10px;
}

.zoom video {
    width: 99%;
}