/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

:root {
    --whitesmoke: #c7c1bb;
    --secondary: #86868b;
}

* {
    font-family: base;
    letter-spacing: .7px;
}

section {
    margin: 160px 0 206px 0;
}

strong {
    color: white !important;
}

p {
    font-size: 20px;
    line-height: 1.4705882353;
    font-weight: 600;
    color: var(--secondary);
}


h4 {
    font-size: 40px;
    font-weight: bold;
}

video {
    object-fit: cover;
}

.bg-blur {
    backdrop-filter: blur(20px) !important;
    background-color: #424245b3 !important;
}